/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Courserads Section
   e. Latex Section
   f. Contact Section
   g. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #00BDBD;
  } /* modified from #0f0f0f */

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    /* changed backgound here */ 
    background: #e67e22 url(../images/background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

/* vertically center banner section */
header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;s
    text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
    font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
    font: 25px/1.1em 'opensans-bold', sans-serif;
    color: #fff; /*  #A8A8A8*/
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
    color: #fff;
}

header .banner-text h3 a:hover {
   color: #11ABB0;
}

header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
header .scrolldown a:hover { 
    color: #11ABB0; 
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
/* This part is navigator menu settings! */
#nav-wrap {
    font: 14px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase; /* ABOUT */
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
.opaque { 
    background-color: #333; 
}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
    min-height: 48px;
    width: auto;

    /* center align the menu */
    text-align: center;
}
ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; } /* change from #F06000*/


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
    background: #00BDBD; /* changed from #2B2B2B */
    padding-top: 96px;
    padding-bottom: 60px; /* 66px */
    overflow: hidden;
    /* Do Not adjust Height here! */
    font-family: 'MuseoSlab500', sans-serif;
    color: #fff;
}

#about .emp {
    color:  #FCE969; /* #f1c60f;*/ /* #f39c12 orange */ 
    font: normal;
}

#about a, #about a:visited  { 
    color: #fff; 
    border-bottom: 1px dashed #fff;
}

#about #more {
    color: blue;
    border-bottom: none;
    text-decoration: underline;
}

#about a:hover, #about a:focus { 
    color: #ff9933; /* #11ABB0 */
    border-bottom: none;
}

#about h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    margin-bottom: 12px;
}
#about p {
    font-size: 18px;
    line-height: 30px;
    /* color: #fff; change from #7A7A7A */
}
#about .profile-pic {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
#about .latest-news { 
    width: 65%; /* 41.66667% */
    font-size: 16px;
}

#about .latest-news ul { 
    list-style-type: disc;
    padding-left: 20px;
}

#about .latest-news ul li { 
    line-height: 22px;
}

#about .download {
    width: 35%; /* 58.33333% */
    padding-top: 6px;

}
#about .main-col { 
    padding-right: 0%; 
}

#about .download .button {
    margin-top: 6px;
    color: #fff;
    background: #34495E; /* #444 */
    border-bottom: none;
}
#about .download .button:hover {
    background: #34495E; /* #fff */
    color: #16A085; /* #F1C40F #2B2B2B*/
}
#about .download .button i {
    margin-right: 10px;
    font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. courserads Section
/* ------------------------------------------------------------------ */

#courserads {
    /* background: #ebeeee; */
    background: #ebeeef;
    padding-top: 70px;
    padding-bottom: 60px;
    overflow: hidden
}

#courserads h5 {
    font: 'opensans-semibold', sans-serif;
    font-family: 'MuseoSlab500', sans-serif;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 48px;
    color: #000;
}

#courserads h6 {
    font: 12px/14px 'opensans-bold', sans-serif;
    text-align: left;
    color: #fff;
}

#courserads h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}
  

/* courserads Content */
#courserads-wrapper .columns { 
  margin-bottom: 36px; 
  margin-right: -260px;
}
.courserads-item .item-wrap {
    background: #fff;
    overflow: hidden;
    position: relative;
    width: 240px;
    height: 135px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.courserads-item .item-wrap a {
    display: block;
    cursor: pointer;
}

.courserads-item .item-wrap .each-pic {
    width: 240px;
    height: 135px;
}

/* overlay */
.courserads-item .item-wrap .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;


    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);

    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    background: url(../images/overlay-bg.png) repeat;
}


.courserads-item .item-wrap .link-icon {
    display: block;
    color: #fff;
    height: 30px;
    width: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);

    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
}


.courserads-item .item-wrap img {
    vertical-align: bottom;
}
.courserads-item .courserads-item-meta { padding: 18px }
.courserads-item .courserads-item-meta h5 {
    font: 14px/21px 'opensans-bold', sans-serif;
    color: #fff;
}
.courserads-item .courserads-item-meta p {
    font: 12px/18px 'opensans-regular', sans-serif;
    margin-bottom: 0;
}

.courserads-item .courserads-item-meta p span {
    font-style: italic;
}

/* on hover */
.courserads-item:hover .overlay {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}

.courserads-item:hover .overlay-right {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}

.courserads-item:hover .link-icon {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}

/* popup modal */
.popup-modal {
    max-width: 550px;
    background: #fff;
    position: relative;
    margin: 0 auto;
}
.popup-modal .description-box { padding: 12px 36px 18px 36px; }
.popup-modal .description-box h4 {
    font: 18px/24px 'opensans-bold', sans-serif;
    margin-bottom: 5px;
    color: #111;
}

.popup-modal .description-box p {
    font: 14px/16px 'opensans-regular', sans-serif;
    margin-bottom: 8px;
}

.popup-modal .description-box ul {
    font: 14px/16px 'opensans-regular', sans-serif;
    list-style-type: disc;
    margin-bottom: 12px;
}

.popup-modal .description-box ul li {
    margin-left: 20px;
    margin-bottom: 5px;
}

.popup-modal .description-box .download {
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.popup-modal .description-box .download a {
    color: #25aeff;
}

.popup-modal .description-box .download a:hover {
    color: blue;
    webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
    

.popup-modal .description-box .download img {
    width: 21px;
    height: 21px;
    content: url("../images/save_pdf.png");
}

.popup-modal .description-box .categories {
    font: 11px/21px 'opensans-regular', sans-serif;
    display: block;
    text-align: left;
}

.popup-modal .description-box .categories i {
    margin-right: 8px;
}

.popup-modal .link-box {
    padding: 18px 36px;
    background: #111;
    text-align: left;
}
.popup-modal .link-box a {
    color: #fff;
    font: 11px/21px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    margin-right: 24px;

}
.popup-modal a:hover {	color: #00CCCC; }
.popup-modal a.popup-modal-dismiss { margin-left: 0px; }


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
}

/* ------------------------------------------------------------------ */
/* e. Latex Section
/* ------------------------------------------------------------------ */

#latex {
background: #fff;
  padding-top: 70px;
padding-bottom: 60px; /* changed from 72px */
  overflow: hidden;

}

#latex a, #latex a:visited  { 
color: #11ABB0; 
  }

#latex a:hover, #latex a:focus { 
color: #313131; 
  }

#latex h1 {
font: 28px/24px 'opensans-bold', sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
}
#latex h1 span {
border-bottom: 3px solid #11ABB0;
padding-bottom: 6px;
}

#latex h3 {
font: 25px/30px 'opensans-bold', sans-serif;
/* padding-top: 50px; */
  margin-bottom: 0px;

}

#latex h5 {
    font: 'opensans-semibold', sans-serif;
    font-family: 'MuseoSlab500', sans-serif;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 48px;
    color: #000;
}

#latex .bv-pic {
padding-top: 5px;
border-radius: 10%;
}

#latex .cs-pic {
width: 165px; 
height: 40px;
padding-top: 5px;
}


#latex .header-col { 
padding-top: 9px; 
padding-bottom: 45px;
text-align: center;
}

#latex .main-col { 
padding-top: 9px; 
padding-right: 10%; 
}

/* .education, .work {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 10px solid #E8E8E8;
} */
  
  #latex .materials {
  /* border-bottom: 1px solid #E8E8E8; */
margin-bottom: 0px;
}

#latex .info {
font: 16px/24px 'librebaskerville-italic', serif;
color: #2980b9; /* #6E7881 #c0392b */
  margin-bottom: 7px;
margin-top: 3px;
}

#latex .info span {
margin-right: 5px;
margin-left: 5px;
}

#latex ul {
list-style-type: disc;
color: #34495e;
  padding-left: 20px;
margin-bottom: 0px;
margin-top: 7px;
}

#latex ul li {
margin-bottom: 5px;
}

#latex .date {
font: 15px/24px 'opensans-regular', sans-serif;
/* margin-top: 6px; */
  }


/* ------------------------------------------------------------------ */
/* f. Contact Section
/* ------------------------------------------------------------------ */

/*
#contact {
    background: #191919;
    padding-top: 96px;
    padding-bottom: 102px;
    color: #636363;
} */

#contact .section-head { margin-bottom: 42px; }
/*
#contact a, #contact a:visited  { color: #11ABB0; }
#contact a:hover, #contact a:focus { color: #fff; }
*/
#contact h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #EBEEEE;
    margin-bottom: 6px;
}
#contact h1 span { display: none; }
#contact h1:before {
    font-family: 'FontAwesome';
    content: "\f0e0";
    padding-right: 10px;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    float: left;
    color: #ebeeee;
}

#contact h4 {
    font: 16px/24px 'opensans-bold', sans-serif;
    color: #EBEEEE;
    margin-bottom: 6px;
} 

/*
#contact p.lead {
    font: 18px/36px 'opensans-light', sans-serif;
    padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }
*/

#contact {
    background: #00BDBD; /* changed from #2B2B2B */
    padding-top: 96px;
    padding-bottom: 35px; /* 66px */
    overflow: hidden;
    /* Do Not adjust Height here! */
    font-family: 'MuseoSlab500', sans-serif;
}

#contact .emp {
    color: #f39c12; 
    font: normal;
}

#contact a, #contact a:visited  { 
    color: #fff; 
    border-bottom: 1px dashed #fff;
}
#contact a:hover, #contact a:focus { 
    color: #ff9933; /* #11ABB0 */
    border-bottom: none;
}

#contact h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
}

#contact p {
    font-size: 18px;
    line-height: 30px;
    color: #fff; /* change from #7A7A7A */
}

#contact .contact-details { 
    width: 65%; /* 41.66667% */
    color: #fff;
    font-size: 16px;
}

#contact ul { 
    list-style-type: disc;
    color: red;
}

#contact .download {
    width: 35%; /* 58.33333% */
    padding-top: 6px;

}
#contact .main-col { 
    padding-right: 0%; 
}

#contact .download .button {
    margin-top: 6px;
    color: #fff;
    background: #34495E; /* #444 */
    border-bottom: none;
}

#contact .download .button:hover {
    background: #34495E; /* #fff */
    color: #16A085; /* #F1C40F #2B2B2B*/
}
#contact .download .button i {
    margin-right: 10px;
    font-size: 20px;
}

#image-loader {
    display: none;
    position: relative;
    left: 18px;
    top: 17px;
}


/* ------------------------------------------------------------------ */
/* g. Footer
/* ------------------------------------------------------------------ */

footer {
    padding-top: 48px;
    margin-bottom: 48px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
    display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;
}
#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #00BDBD;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #fff;
    font-size: 21px;
    line-height: 60px;
    border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

